/*please note that the idea and design of 
the template was borrowed from 
http://www.codecademy.com/Smwaters/codebits/Uln4W/edit*/


/*background color*/
html {
    background-color: lightgreen;
}

body {
    display: block;
    margin: 20px;
    text-align: center;
}

/*title*/
h1 {
    color: darkblue;
    font-family: Verdana;
    font-size: 3em;
    background-color: dodgerblue;
    box-shadow: 5px 5px 5px black;
    margin: auto;
    display: inline-block;
}

h3 {
    font-size: 1em;
}

p {
    margin: 0;
}

table {
    margin: auto;
}

/* the button's colors,border, features */
.button {
    height: 30px;
    border: 4px solid yellow;
    border-radius: 10px;
    background-color: darkred;
    margin: 0;
    display: inline-block;
}

/* color displayed when the mouse hovers over buttons*/
.highlighted {
    background-color: royalblue;
    border-color: gold;
}

/* height and color of each column*/
.column {
    padding: 0;
    margin: 0;
    height: 160px;
    width: 26px;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-color: blue;
}

/* game container*/
.gamecontainer {
    text-align: center;
    margin: auto;
    padding: 5px;
    display: inline-block;
}

/* joins on columns together */
.columncontainer {
    display: inline-block;
}

/*boundaries for button of column container*/
.columncontainer .button {
    width: 20px;
}

/* boundary for reset*/
.reset {
    width: 100px;
    display: block;
    margin: auto;
}

/* display container around column slots*/

.displaycontainer {
    height: 260px;
    width: 200px;
    display: inline-block;
}

/*vertical shifting using class of token and "Player" icon*/
.display {
    margin: 3px 0 3px 0;
    font-family: Verdana;
}

/* hides the winning sign*/
.win {
    display: none;
}

/* positioning of the token*/
.displaycontainer > div {
    margin: auto;
    width: 52px;
    height: 52px;
}

/* size of circular token*/
.displaycontainer .token {
    height:40px;
    width: 40px;
    margin: auto;
    border-width: 6px;
}


/*instructions- "click to drop token!"*/
.hint {
    font-family: Verdana;
    font-size: 12px;
}

/* text of reset button*/
.button p {
    color: white;
    font-family: Verdana;
    margin: 5px 0 0 0;
    text-align: center;
}

/*first color for player2 to switch to*/
.player1 {
    background-color: blue;
    border: 3px solid blue;
}

/*second color for player2 to switch to*/
.player2 {
    background-color: red;
    border: 3px solid brown;
}

.token {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin: auto;
}

.gamecontainer .token {
    position: absolute;
}