
html {
    
}

body {
    background-color: #E1F5A9;
}

h2 {
   margin: 15px 80px 40px 50px;
   float: center;
}



table, td {
    
    border: 1px #70b8ff solid;
    border-top: 0.5px #70b8ff solid;
    margin: 50px 50px 50px 50px;
    width: 190px;
    height: 20px;
}

.gameboard tr:first-child td  {
    
    border: 0.5px #70b8ff dashed; 
}

.emptytoken {
    position: ;
    display:; 
    margin: auto;
    height: 16px;
    width: 17px;
    border: 0.5px dashed black;
    border-radius: 100%;
}

.highlighted { 
    background-color: gray ;
    text-align: center;
    border: 0.5px blue dashed; 
}

.hovertoken  {
    display:none;
    margin: auto;
    height: 16px;
    width: 17px;
    border-radius: 100%;
    
}

.token  {
    display:none;
    margin: auto;
    height: 16px;
    width: 17px;
    border-radius: 100%;
    
}

.player1 {

    background-color: #2E64FE;
    border: 2px solid #0000FF;
}

.player2 {

    background-color: #FF0000;
    border: 2px solid #B40404;
}

.btn-group {
position: relative;
bottom: 40px;
left: 90px;
top:-70px;
}

.gameboard {

position: relative;
top: -40px;
}

.blue {
   position:relative;
   color: blue;
   font-size: 13px;
   top: 38px;
}

.red {
    position:relative;
    color:red;
    font-size: 13px;
    top: 38px;
}

.displaycontainer {
   position: relative;
    left: 300px;
    top: -250px;
    font-size: 10px;
}

.displaytoken {
    position:relative;
    left:-280px;
    top:20px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin:auto;
}



#score {
    position: relative;
    left: -35px;
    top: -10px;
    font-size: 10px;
}

#tip {
    position: relative;
    font-family: Verdana;
    font-size: 8px;
    font-style: italic;
    top: -45px;
}

#declwinner {
    position:relative;
    left:-35px;
    top:-30px;
    display:none;
}

#player {
    position:relative;
    left:-50px;
    top:-90px;
}

#column1 {
    
  
}

#column2 {

}

#column3 {

}

#column4 {

}

#column5 {

}

#column6 {

}

#column7 {
    
}





















